body {
  background-color: black;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(2, 100px);
  resize: both;
  overflow: auto;
  gap: 4px;
  padding: 4px;
  border: 1px solid grey;
  background-color: skyblue;
}

div > .item {
  background-color: gray;
}
