:root {
  --header-footer-color: #3f4552ff;
  --sidebar-nav-color: #ff7754ff;
  --artical-color: #bccbdeff;
  --font-color: white;
}
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr) repeat(1, 4fr);
  grid-template-rows: repeat(2, 1fr) repeat(1, 3fr) repeat(1, 1fr);
  grid-template-areas:
    "header header header header"
    "side nav nav nav"
    "side aritcal artical artical"
    "footer footer footer footer";
  overflow: auto;
  gap: 4px;
}

#header {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-areas: "logo .. link link link link";
  grid-area: header;
  background-color: var(--header-footer-color);
  color: white;
  padding: 4px;
  overflow: auto;
}

#sidebar {
  grid-area: side;
  background-color: var(--sidebar-nav-color);
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 6rem;
}

#nav {
  grid-area: nav;
  background-color: var(--sidebar-nav-color);
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  align-items: center;
}

#articals {
  grid-area: artical;
  background-color: var(--artical-color);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  /* overflow: auto; */
  padding: 10px;
  gap: 10px;
}

#footer {
  grid-area: footer;
  background-color: var(--header-footer-color);
  color: white;
}

.box {
  border: 1px solid black;
  background-color: white;
  padding: 30px;
  text-align: center;
}
