* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
html {
  display: flex;
  align-content: center;
  justify-content: space-around;
  flex-direction: column;
}
table {
  border-collapse: collapse;
}
table,
th,
td {
  border: 1px solid gray;
  align-content: center;
  padding: 10px;
  width: 42px;
}
