.box {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 100px;
  height: 100px;
}

#box1 {
  background-color: red;
  z-index: 2;
}

#box2 {
  background-color: blue;
  z-index: 1;
}
body {
  background: linear-gradient(50deg, blue, red);

  /* height: 100vh; */
}
